.blog-post-selected__container {
  padding: 85px 0;
  @media #{$mobile} {
    padding: 35px 0 0 10%;
  }
  p {
    margin-bottom: 90px;

    @media #{$mobile} {
      margin-bottom: 35px;
    }
  }
  span {
    margin-bottom: 10px;
  }

  div {
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: scroll;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;

    .img__bck {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;

      &:hover {
        transition: all 1s;
        opacity: 0.5;
        cursor: pointer;
      }
    }
    a {
      height: calc(70vh);
      margin-right: 20px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      filter: grayscale(1);
      opacity: 1;
      transition: all 1s;
      width: 100%;
      min-width: 360px;

      @media #{$tablet} {
        min-width: 100%;
      }

      @media #{$mobile} {
        min-width: 90%;
        width: 90%;
      }

      &:hover {
        p {
          opacity: 1;
          @media #{$mobile} {
            margin-top: 35px;
          }
        }
      }

      .line {
        width: 40px;
        height: 1px;
        margin-right: 5px;
        transform: rotateX(180deg);
        border: 1px solid #ffffff;
        position: relative;
        top: 5px;
        display: inline-block;
      }
      h1 {
        position: absolute;
        top: 50%; /* poussé de la moitié de hauteur du référent */
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        pointer-events: none;

        @media #{$tablet} {
          pointer-events: auto;
        }

        @media #{$mobile} {
          top: 45%;
          font-size: 40px;
        }
      }
      p {
        opacity: 0;
        transition: all 1s;
        position: absolute;
        top: 65%; /* poussé de la moitié de hauteur du référent */
        transform: translateY(-50%);
        margin: 0 auto;
        text-align: left;
        width: 80%;
        padding-left: 30px;
      }
    }
  }
}
