.blog-post__container {
  padding-top: 140px;
  padding-left: 15%;
  position: relative;
  @media #{$tablet} {
    padding-top: 120px;
    padding-left: 10%;
    height: 100vh;
    overflow: hidden;
  }
  @media #{$mobile} {
    padding-left: 5%;
    height: 80vh;
    position: fixed;

    -webkit-overflow-scrolling: touch;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
  }
}

.slick-slider {
  padding-top: 70px;

  @media #{$mobile} {
    padding-top: 40px;
    -webkit-overflow-scrolling: touch;
  }
}
.slick-list {
  height: 60vh;
  -webkit-overflow-scrolling: touch;
}
.slick-slide {
  margin-right: 20px;
  width: 100%;
}

.blog-post-selected__card {
  height: 60vh;

  width: 100%;
  position: relative;

  &:hover {
    .blog-post__background {
      transition: all 1s;
      cursor: pointer;
      opacity: 0.3;
    }
    p {
      transition: all 1s;
      opacity: 1;
    }
  }

  .line {
    width: 40px;
    height: 1px;
    margin-right: 5px;
    transform: rotateX(180deg);
    border: 1px solid #ffffff;
    position: relative;
    top: 5px;
    display: inline-block;
    z-index: 1;
  }
  h5 {
    z-index: 1;
    position: absolute;
    top: 50%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }
  p {
    z-index: 1;
    opacity: 0;
    transition: all 1s;
    position: absolute;
    top: 65%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%);
    margin: 0 auto;
    text-align: left;
    width: 80%;
    padding-left: 30px;

    @media #{$tablet} {
      display: none;
    }
  }

  .blog-post__background {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    filter: grayscale(1);
    opacity: 1;
    transition: all 1s;
    @media #{$mobile} {
      overflow: hidden;
      height: 60vh;
    }
  }
}
