.project__categories__container {
  text-align: left;
  margin: 10%;
  z-index: 9000;

  @media #{$tablet} {
    background-color: black;
    padding: 10px 20px;
    margin: 0;
    position: fixed;
  }

  li {
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 14px;

    @media #{$tablet} {
      margin: 0;
    }

    &.isActive {
      color: $white;
    }
  }

  &.isTabletOrMobile {
    display: flex;
    overflow: scroll;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 45px;
    width: 100%;
    li {
      margin-right: 40px;

      &:last-child {
        padding-right: 40px;
      }
    }
  }
}
