.grid__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 5%;
  margin: 0 auto;
  flex-direction: row;

  &.marginBetween {
    justify-content: space-between;
  }
  &.marginAround {
    justify-content: space-around;
  }

  &.TwoThirdsOneThird {
    justify-content: space-around;
    align-items: center;

    img:first-child {
      width: 60% !important;
      height: 100%;
    }
    img:nth-child(2) {
      width: 40% !important;
      height: 100%;
    }
  }

  @media #{$tablet} {
    padding: 0 10%;
  }
  @media #{$mobile} {
    padding: 0 5%;
  }

  @media #{$tablet} {
    flex-wrap: nowrap;
    flex-direction: column;

    img {
      width: 100% !important;
      margin: 15px auto;
      height: 100%;
    }
  }
}
