.image__container {
  width: 100%;
  position: relative;
  &.alignRight {
    display: flex;
    justify-content: flex-end;
    div {
      width: 70%;
      display: flex;
      justify-content: flex-end;
    }
  }
  div {
    height: 80vh;
    position: relative;
    width: 100%;
  }
}
