.news--letter--suscribe__container {
  margin-top: 60px;
  padding: 80px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.096);
  & > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  img {
    margin-right: 30px;
    width: 8%;
  }
  input,
  button {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid $white;
    padding: 10px 20px 10px 0;
    font-size: 18px;
    color: $white;
    &::placeholder {
      color: $white;
    }
  }
  button {
    margin-left: 30px;
    border: transparent;
    &:hover {
      cursor: pointer;
    }
  }
}
