.project__title {
  width: 100%;
}

.projects__selected {
  position: relative;
  margin: 100px 0;
  display: flex;

  @media #{$mobile} {
    margin: 65px 0;
  }

  @media #{$mobile} {
    flex-direction: column;
  }

  ul {
    margin: 0;

    @media #{$mobile} {
      padding: 0;
    }
  }

  p {
    margin-right: 120px;
    white-space: nowrap;

    @media #{$mobile} {
      margin-bottom: 30px;
    }
  }
}
