.project__selected__container {
  display: flex;
  position: relative;
  height: auto;
  overflow: hidden;
  margin: 85px 0;

  @media #{$mobile} {
    margin: 35px 0;
  }

  .project__selected {
    padding: 75px 0 25px 15%;
    display: flex;
    z-index: 99999;
    height: 100%;

    @media #{$mobile} {
      display: block;
    }
  }

  .project__selected__list {
    margin: -120px 0 0 50px;

    @media #{$mobile} {
      margin: 0;
    }
  }
}

.project__img--background--selected {
  width: 100%;
  height: 100%;
  position: absolute !important;
  animation: blur 5s;

  &--mobile {
    padding-top: 30px;
  }

  @media #{$mobile} {
    height: 100%;
  }
}
