.quote_and_text__container {
  display: flex;
  justify-content: space-around;
  padding: 60px 0;
  align-items: center;

  @media #{$tablet} {
    flex-direction: column;

    h4 {
      margin-bottom: 70px;
    }
    & > div {
      padding-left: 20%;
    }
  }

  @media #{$mobile} {
    padding: 35px 0;
  }
}
