.text_column__container {
  display: flex;
  justify-content: space-around;
  padding: 50px 15px;

  @media #{$tablet} {
    padding: 35px 0;
  }

  div {
    width: 100%;
    padding-right: 30px;

    &:nth-child(1) {
      @media #{$tablet} {
        margin-top: 0px;
      }
    }
    @media #{$tablet} {
      margin-top: 50px;
    }
    p,
    a {
      font-size: 14px;
    }
  }

  @media #{$tablet} {
    flex-direction: column;
  }
}
