.video__container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 85px auto;
  position: relative;

  &.isStatic {
    padding: 0;
  }
  @media #{$mobile} {
    margin: 0;
  }

  .static--video__container {
    padding: 0 10%;
    & > div {
      width: 100% !important;
      height: auto !important;
    }
    video {
      width: 100% !important;
      height: auto !important;
    }
    &.isCover {
      padding: 0;
      @media #{$mobile} {
        video {
          height: 700px !important;
          width: 400% !important;
          margin-left: -140%;
        }
      }
    }
  }

  &.isCover {
    margin: 0 auto;
    width: 100%;
    z-index: 10;
    margin-bottom: 85px;

    @media #{$mobile} {
      margin-bottom: 35px;
    }
    iframe {
      padding: 0 !important;
    }
  }
}

.video__container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 0 5%;
  position: absolute;

  @media #{$mobile} {
    padding: 0 10%;
  }
}
