@font-face {
  font-family: "gt_walsheim_prolight";
  src: url("./../fonts/gt-walsheim-light-webfont.eot");
  src: url("./../fonts/gt-walsheim-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./../fonts/gt-walsheim-light-webfont.woff2") format("woff2"),
    url("./../fonts/gt-walsheim-light-webfont.woff") format("woff"),
    url("./../fonts/gt-walsheim-light-webfont.ttf") format("truetype"),
    url("./../fonts/gt-walsheim-light-webfont.svg#gt_walsheim_prolight")
      format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "be_vietnamregular";
  src: url("./../fonts/bevietnam-regular-webfont.eot");
  src: url("./../fonts/bevietnam-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./../fonts/bevietnam-regular-webfont.woff2") format("woff2"),
    url("./../fonts/bevietnam-regular-webfont.woff") format("woff"),
    url("./../fonts/bevietnam-regular-webfont.ttf") format("truetype"),
    url("./../fonts/bevietnam-regular-webfont.svg#be_vietnamregular")
      format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "GTWalsheimProThin";
  src: url("./../fonts/GTWalsheimProThin.eot");
  src: url("./../fonts/GTWalsheimProThin.eot?#iefix")
      format("embedded-opentype"),
    url("./../fonts/GTWalsheimProThin.woff2") format("woff2"),
    url("./../fonts/GTWalsheimProThin.woff") format("woff"),
    url("./../fonts/GTWalsheimProThin.ttf") format("truetype"),
    url("./../fonts/GTWalsheimProThin.svg#GTWalsheimProThin") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "GTWalsheimProUltraLight";
  src: url("./../fonts/GTWalsheimProUltraLight.eot");
  src: url("./../fonts/GTWalsheimProUltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("./../fonts/GTWalsheimProUltraLight.woff2") format("woff2"),
    url("./../fonts/GTWalsheimProUltraLight.woff") format("woff"),
    url("./../fonts/GTWalsheimProUltraLight.ttf") format("truetype"),
    url("./../fonts/GTWalsheimProUltraLight.svg#GTWalsheimProUltraLight")
      format("svg");
  font-weight: 200;
  font-style: normal;
}
