.project__container {
  position: relative;
  width: 100%;
  .titles {
    left: 15%;
    bottom: 0;
    position: absolute;
    top: 50%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%);

    h1 {
      margin-bottom: -10px;
    }

    @media #{$tablet} {
      left: 10%;
      right: 0;
    }

    @media #{$mobile} {
      left: 5%;
      right: 0;
    }

    p {
      max-width: 300px;
      font-size: 20px;
      line-height: 29px;
      font-family: $font-be-vietnam;

      @media #{$mobile} {
        max-width: 250px;
      }
    }
  }

  .cover {
    position: relative;
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    position: absolute;
    z-index: 77777777;
    width: 100%;

    li {
      a {
        transform: rotate(45deg);
      }
    }
  }
}
