.projects__container {
  .projects {
    display: flex;
    z-index: 99999;
    height: 100%;

    @media #{$tablet} {
      display: block;
    }
    .projects__list {
      margin: 100px 0 0 30px;
      height: 500px;
      overflow: scroll;

      @media #{$tablet} {
        margin: 0;
      }
    }
  }

  .slick-slider {
    h1 {
      outline: none !important;
    }
  }
}

.project__list__container {
  height: 600px;
  overflow: scroll;
  opacity: 1;

  .project__slide {
    &:hover {
      a {
        display: flex;
      }
    }
  }
  h2 {
    width: 100%;
  }
  a {
    font-weight: 100 !important;
    font-family: "gt_walsheim_prolight";
    font-size: 12px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    z-index: 100;
    bottom: 10px;
    position: relative;
    display: none;
    white-space: nowrap;

    img {
      margin-left: 20px;
      position: relative;
    }
  }
}

.project__img--background {
  width: 100%;
  height: 100%;
  position: absolute !important;
  animation: blur 1s;
  overflow: hidden;

  &.isOut {
    animation: isOut 1s !important;
    opacity: 0;
  }
}

@keyframes blur {
  from {
    filter: blur(100px);
    opacity: 0.5;
  }

  to {
    filter: blur(0);
    opacity: 1 !important;
  }
}

@keyframes isOut {
  from {
    filter: blur(0px);
    opacity: 0.5;
  }

  to {
    filter: blur(100px);
    opacity: 0 !important;
  }
}
