.project__container {
  margin-top: -70px;
  .cover {
    position: relative;
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;

    li {
      a {
        transform: rotate(45deg);
      }
    }
  }
}
