.projects__container {
  .projects {
    display: flex;
    z-index: 99999;
    height: 100%;

    @media #{$tablet} {
      display: block;
    }
    .projects__list {
      height: 100vh;
      width: 100%;
      overflow-y: scroll; /* has to be scroll, not auto */
      -webkit-overflow-scrolling: touch;

      @media #{$tablet} {
        margin: 0;
      }
    }
  }

  .slick-slider {
    h1 {
      outline: none !important;
    }
  }
}
.projects__list {
  width: 100%;
  padding: 10vh 0 70vh 5%;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;

  z-index: 900;
  width: 100%;
  padding-left: 30%;
  position: absolute;

  @media #{$tablet} {
    padding: 0 0 80vh 10%;
    margin-top: 125px !important;
  }

  h2 {
    transition: all 200ms ease;
    white-space: nowrap;
    @media #{$mobile} {
      white-space: initial;
      margin: 0 0 25px 0 !important;
    }

    &:hover {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: white;
      -webkit-text-stroke-width: 1px;
    }
    &.isFocus {
      -webkit-text-fill-color: white;
      -webkit-text-stroke-color: white;
      -webkit-text-stroke-width: 0.1px;
    }
    &.isOut {
      // opacity: 0.2;
      -webkit-text-stroke-width: 1px;
      -webkit-text-fill-color: transparent;
    }
  }
}
.project__list__container {
  width: 100%;
  height: 600px;
  overflow: scroll;
  opacity: 1;

  .project__slide {
    &:hover {
      a {
        display: flex;
      }
    }
  }
  h2 {
    width: 100%;
  }
  a {
    font-weight: 100 !important;
    font-family: "gt_walsheim_prolight";
    font-size: 12px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    z-index: 100;
    bottom: 10px;
    position: relative;
    display: none;
    white-space: nowrap;

    img {
      margin-left: 20px;
      position: relative;
    }
  }
}

.project__img--background {
  min-width: 100%;
  width: 100%;
  min-height: 100vh;
  position: fixed !important;
  animation: blur 1s;
  overflow: hidden;

  @media #{$tablet} {
    margin-top: 120px;
  }

  &.isOut {
    animation: isOut 1s !important;
    opacity: 0;
  }
}

@keyframes blur {
  from {
    filter: blur(100px);
    opacity: 0.5;
  }

  to {
    filter: blur(0);
    opacity: 1 !important;
  }
}

@keyframes isOut {
  from {
    filter: blur(0px);
    opacity: 0.5;
  }

  to {
    filter: blur(100px);
    opacity: 0 !important;
  }
}

@keyframes isGoing {
  from {
    opacity: 1;
  }

  to {
    opacity: 0 !important;
  }
}
